<section id="container">
  <h1>Contact List App</h1>

  <button id="getContacts">Get Contacts</button><br>

  <div id="contactForm">
    <form action="">
      <input type="text" id="firstname" placeholder="First Name">
      <input type="text" id="lastname" placeholder="Last Name">
      <input type="email" id="email" placeholder="Email">
      <button id="createContact">Add a Contact</button>
    </form>
  </div>

  <section id="results" class="hide">
    <table id="contacts">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
    </table>
  </section>
</section>