<section id="container">
  <div class="row" id="navbar">
    <div class="six columns">
      <div id="searchForm">
        <form action="">
          <input type="text" id="query" placeholder="Search Contacts">
          <button id="searchContact">Search</button>
        </form>
      </div>
      <div id="contactForm" class="hide">
        <form action="">
          <input type="text" id="firstname" placeholder="First Name">
          <input type="text" id="lastname" placeholder="Last Name">
          <input type="email" id="email" placeholder="Email">
          <button id="createContact">Add a Contact</button>
        </form>
      </div>
    </div>
    <div class="six columns"></div>
  </div>
  <div class="row">
    <div class="six columns">
      <section id="results" class="hide">
        <table id="contacts" class="u-full-width">
          <tbody></tbody>
        </table>
      </section>
    </div>
    <div class="six columns">
      
    </div>
  </div>

  <!-- <button id="getContacts">Get Contacts</button><br> -->

</section>